{% extends "layoutadmin.html.twig" %}
{% block welcome %}
  <a style="color:#bf1919">Bienvenue
    {{ app.user.username }}
    <i class="fas fa-child"></i>
  </a>
{% endblock %}
{% block dashboard %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-30 bg-mtr">
          <div class="media">
            <div class="media-left meida media-middle">
              <span>
                <i class="far fa-address-card f-s-40 color-secondary"></i>
              </span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="text-white">0</h2>
              <p class="m-b-0 text-white">Nouveau(x) membre(s)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-30 bg-mtr">
          <div class="media">
            <div class="media-left meida media-middle">
              <span>
                <i class="far fa-file-alt f-s-40"></i>
              </span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="text-white">0</h2>
              <p class="m-b-0 text-white">Nouveau(x) ajout(s)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mtr">
        <div class="card p-30 bg-mtr">
          <div class="media bg-mtr">
            <div class="media-left meida media-middle mtr">
              <span>
                <i class="far fa-life-ring f-s-40"></i>
              </span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="text-white">0</h2>
              <p class="m-b-0 text-white">Demande(s) de support</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <!-- /# column -->
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card bg-mtr">
          <div class="card-body">
            <div class="weather-widget">
              <div id="weather-one" class="weather-one"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Page Content -->
  </div>
  <!-- End Container fluid -->
{% endblock %}
{% block js %}
  <script src="{{ asset('asset/js/lib/bootstrap/js/popper.min.js') }}"></script>
  <script src="{{ asset('asset/js/jquery.slimscroll.js') }}"></script>
  <script src="{{ asset('asset/js/lib/weather/jquery.simpleWeather.min.js') }}"></script>
  <script src="{{ asset('asset/js/lib/weather/weather-init.js') }}"></script>
  <script src="{{ asset('asset/js/lib/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
  <script src="{{ asset('asset/js/custom.min.js') }}"></script>
{% endblock %}
