{% extends "layoutadmin.html.twig" %}
{% block welcome %}
  <a style="color:#ffffff">Bienvenue
    {{ app.user.username }}
    <i class="fas fa-child"></i>
  </a>
{% endblock %}
{% block dashboard %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-30 bg-warning">
          <div class="media">
            <div class="media-left meida media-middle">
              <span>
                <i class="fas fa-calendar f-s-40 color-secondary"></i>
              </span>
            </div>
            <div class="media-body media-text-right">
              <h2 class="text-white">{{ countusers }}</h2>
              <p class="m-b-0 text-white">Nombre d'inscrit(s) sur MoveToRouen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <h4>Liste des utilisateurs</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status du compte</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for user in users %}
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.enabled == 1 %}Actif{% else %}Banni{% endif %}</td>
                <td>
                  <button class="btn btn-sm btn-warning">
                    <i class="fas fa-pencil-alt"></i></button>
                  <button class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i></button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
