<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}MoveToRouen{% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">   
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    {% block stylesheet %}
      {% stylesheets 'info/homepage/css/style.css' filter = 'cssrewrite' %}
      <link rel="stylesheet" href="{{ asset('info/homepage/css/style.css') }}"/>
      {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
            <nav class="navbar navbar-light fixed-top navbar-expand-lg default-color scrolling-navbar border border-right-0 border-left-0 border-top-0 border-grey">
                <a class="navbar-brand " href="{{ path('home_homepage') }}"><img class="logo" src="{{ asset('info/img/logo.png') }}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice text-success">
                        {{ message }}
                    </div>
                {% endfor %}

        <div class="collapse navbar-collapse " id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto"></ul>
          <form class="form-inline my-2 my-lg-0">
            {# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <a class="btn btn-outline-primary text-white mr-sm-2 bouton" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
              {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-outline-success text-white mr-sm-2 bouton" href="{{ path('admin_homepage') }}">Dashboard</a>
              {% endif %}
              <a class="btn btn-outline-danger text-white mr-sm-2 bouton" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            </li>
          {% else %}
            <a href="{{ path('fos_user_security_login') }}"><input type="button" value="Connexion" class="btn btn-outline-primary text-white btn-rounded mr-sm-2 bouton">
            </a>
            <a href="{{ path('fos_user_registration_register') }}"><input type="button" value="Inscription" class="btn btn-outline-success text-white btn-rounded bouton">
            </a>
          {% endif %}
        </form>
      </div>
    </nav>
  {% endblock %}

    {% block content %}{% endblock %}

  {% block footer %}
    <footer class="page-footer font-large text-light bg-dark pt-4 mt-4">
      
      <ul class="list-unstyled list-inline text-center py-2 ">
        <li class="list-inline">
            <p>Suivez nous sur les réseaux sociaux :
            </p>
        </li>
        <li class="list-inline-item ">
            <a href="https://www.facebook.com/move.torouen.1"type="button" class="btn-floating btn-lg btn-fb border2 ">
                <i class="fab fa-facebook "></i>
            </a>
        </li>
        <li class="list-inline-item ">
            <a href="https://twitter.com/rouen_to"type="button" class="btn-floating btn-lg btn-tw border2">
                <i class="fab fa-twitter "></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com/movetorouen/"type="button" class="btn-floating btn-lg btn-ins border2 ">
                <i class="fab fa-instagram "></i>
            </a>
        </li>
    </ul>
      <hr>
      <ul class="list-unstyled list-inline text-center text-light py-2 socialbtn">
        <li class="list-inline-item">
          <a href="" class="link">
            Mentions légales
          </a>
        </li>
        <li class="list-inline-item">
          <a href="{{ path('home_contact') }}" class="link">
            Nous contacter
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="link">
            Politique de confidentialité
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="link">
            Qui sommes-nous
          </a>
        </li>
      </ul>
      <hr>
      <ul class="list-unstyled list-inline text-center py-2 copy">
        <li>
          <div class="footer-copyright text-center">© 2018 Copyright:
            <a href="#">
              MoveToRouen</a>
          </div>
        </li>
      </ul>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  {% endblock %}
  {% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  {% endblock %}

</body>
</html>
