<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
      {% block title %}MoveToRouen - Dashboard{% endblock %}
    </title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('asset/css/lib/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/fontawesome5/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/helper.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <!-- Favicon icon -->
    {% block favicon %}<link rel="icon" type="image/png" href="{{ asset('asset/images/favicon.png') }}"/>{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]> <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

    {% block css %}{% endblock %}
    {% block stylesheets %}{% endblock %}
  </head>

  <!-- Début de page -->
  <!-- Preloader CSS -->
  <body class="fix-header fix-sidebar">
    <!-- <div id="preloader"> <div id="loader"></div> </div> -->
    <!-- Main wrapper -->
    <div id="main-wrapper">
      <div class="header">
        <nav class="navbar fixed-top top-navbar navbar-expand-md">
          <div class="navbar-header">
            <a class="navbar-brand">
              <b><img src="{{ asset('asset/images/logo2.png') }}" alt="logo" class="dark-logo" style="width:75%;"/></b>
            </a>
          </div>

          <!-- Début de la section user (avatar, paramètres et deconnexion) -->
          <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0"></ul>
            <ul class="navbar-nav my-lg-0">
              <li class="nav-item hidden-sm-down search-box">
                <a class="nav-link hidden-sm-down text-muted  " href="javascript:void(0)">
                  <i class="ti-search"></i>
                </a>
                <form class="app-search">
                  <input type="text" class="form-control" placeholder="Rechercher">
                  <a class="srh-btn">
                    <i class="ti-close"></i>
                  </a>
                </form>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="#" alt="avatar de {{ app.user.username }}" class="profile-pic"/></a>
                <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                  <ul class="dropdown-user">
                    <!-- Déconnexion et redirection vers la page d'index -->
                    <li>
                      <a href="{{ path('home_homepage') }}">
                        <i class="fa fa-home"></i>
                        MoveToRouen</a>
                    </li>
                    <li>
                      <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-power-off"></i>
                        Déconnexion</a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Fin de section -->

            </ul>
          </div>
        </nav>
      </div>

      <!-- Sidebar-->
      <div class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="nav-devider"></li>

              <!-- Section Acceuil-->
              <li class="nav-label">Accueil</li>
              <li>
                <a href="{{ path('admin_homepage') }}" aria-expanded="false">
                  <i class="fa fa-tachometer"></i>
                  <span class="hide-menu">Dashboard</span></a>
              </li>
              <li>
                <a href="{{ path('category_add_new') }}" aria-expanded="false">
                  <i class="fa fa-plus"></i>
                  <span class="hide-menu">Ajouter une catégorie</span></a>
              </li>
              <!-- Fin de section -->

              <!-- Section Gestion de contenu -->
              <li class="nav-label">Gestion du contenu</li>
              <li>
                <a href="{{ path('parks_homepage') }}" aria-expanded="false">
                  <i class="fas fa-tree"></i>
                  <span class="hide-menu">Parcs</span></a>
              <li>
                <a href="{{ path('monuments_homepage') }}" aria-expanded="false">
                  <i class="fas fa-building"></i>
                  <span class="hide-menu">Monuments</span></a>
              <li>
                <a href="{{ path('events_homepage') }}" aria-expanded="false">
                  <i class="fas fa-calendar-alt"></i>
                  <span class="hide-menu">Evènements</span></a>
              <li>
                <a href="{{ path('sports_homepage') }}" aria-expanded="false">
                  <i class="fas fa-football-ball"></i>
                  <span class="hide-menu">Sports</span></a>
              </li>
              <!-- Fin de section -->

              <!-- Section Gestion des utilisateurs -->
              <li class="nav-label">Gestion des utilisateurs</li>
              <li>
                <a href="{{ path('listing_homepage') }}" aria-expanded="false">
                  <i class="fas fa-list"></i>
                  <span class="hide-menu">Liste des utilisateurs</span></a>
              </li>
              <li>
                <a href="{{ path('support_homepage') }}" aria-expanded="false">
                  <i class="fas fa-life-ring"></i>
                  <span class="hide-menu">Support d'assistance</span></a>
              </li><hr>
              <!-- Fin de section -->

            </ul>
          </nav>
        </div>
      </div>
      <!-- Fin de la sidebar -->

      <!-- Début des blocks Twig -->
      <div class="page-wrapper">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-primary">
              {% block welcome %}{% endblock %}
            </h3>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              {% block dashboard %}{% endblock %}
            </div>
          </div>
        </div>
        <!-- Fin de déclaration des blocks Twig -->

        <!-- Début du footer -->
        <footer class="footer text-center sticky-bottom">&copy; Copyright
          <a href="{{ path('home_homepage') }}" style="color:#bf1919">MoveToRouen</a>
          - 2018/2019
        </a>
      </footer>
      <!-- Fin du footer -->

    </div>
  </div>

  <!-- Script JS -->
  <script src="{{ asset('asset/js/lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('asset/js/lib/bootstrap/js/popper.min.js') }}"></script>
  <script src="{{ asset('asset/js/lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('asset/js/jquery.slimscroll.js') }}"></script>
  <script src="{{ asset('asset/js/sidebarmenu.js') }}"></script>
  <!-- Fin Script JS-->

  {% block js %}{% endblock %}

</body>
</html>
