<!DOCTYPE html>
<html>
     <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rouen Move{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fullpage/css/jquery.fullPage.css') }}" />
        {% block stylesheet %}
            {% stylesheets 'bundles/homepage/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset('bundles/homepage/css/style.css') }}" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-light fixed-top navbar-expand-lg default-color scrolling-navbar border border-right-0 border-left-0 border-top-0 border-grey">
                <a class="navbar-brand " href="{{ path('home_homepage') }}">RouenMove</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        {# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="btn btn-outline-success" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                            <a class="btn btn-outline-danger" href="{{ path('fos_user_security_logout') }}">Log out</a>
                        </li>
                        {% else %}
                        <a href="{{ path('fos_user_security_login') }}" ><input type="button" value="Connexion" class="btn btn-primary btn-rounded btn-sm"> </a>
                        <a href="{{ path('fos_user_registration_register') }}" ><input type="button" value="Inscription" class="btn btn-success btn-rounded btn-sm"> </a>
                        {% endif %}
                    </form>
                </div>
            </nav>
        {% endblock %}

        {% block content %}
            {% endblock %}
                   
        
          <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4 fixed-bottom">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> RouenMove</a>
  </div>
</footer>        
          
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
           

    {% block javascripts %}{% endblock %}

    </body>
</html>