{% extends 'layoutbase.html.twig' %}
{% block content %}

<div id="fullpage">
	<div class="section slide1">
    <div class="">                     
          <h1 class="">RouenMove</h1>
    </div>
    <div id="" class="">
      <h2 class="">Envie de prendre l'aire ?</h2>
      <h3>Trouvez rapidement votre prochain lieu de détente avec Bouger à Rouen </h3>
      <hr class="">
      <div class="">
        <button type="button" class="btn btn-primary"><a href="{{ path('parc_homepage') }}" class=""><div><span style="color:white;">Parcs</span></div></a></button>
        <button type="button" class="btn btn-success"><a href="{{ path('evenement_homepage') }}" class=""><div><span style="color:white;">Evènements</span></div></a>
        <button type="button" class="btn btn-info"><a href="{{ path('monument_homepage') }}" class=""><div><span style="color:white;">Monuments</span></div></a>
        <button type="button" class="btn btn-danger"><a href="{{ path('sport_homepage') }}" class=""><div><span style="color:white;">Sports</span></div></a>
      </div>
    </div>
  </div> {# fin slide 1 #}
	<div class="section slide2">
      <h2>Pourquoi s'inscrire ?</h2>
      <div class="chevre">
        <p>Lorem ipson</p>
      </div>
      <div class="">
        <h3>Inscription/Connection</h3>
        <a href="{{ path('fos_user_security_login') }}" ><input type="button" value="Connexion" class="btn btn-outline-success"></a>
        <a href="{{ path('fos_user_registration_register') }}" ><input type="button" value="Inscription" class="btn btn-outline-success"></a>
      </div>
  </div> {# fin slide  #}
	<div class="section slide3">
      <h2>Bouger à Rouen ? oui mais où?</h2>
      <div class="">
        <p>c'est de la que tout est parti bla bla bli bla bla blou lorem ipson quoi</p>
      </div>
      <div class="">
        <h3>Lien vers le formulaire de contact</h3>
        <button type="button" class="btn btn-success"><a href="" class=""><div><span style="color:white;">Contact</span></div></a>
      </div>
  </div> {# fin slide 3 #}
</div>

{% endblock %}


  {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fullpage/js/jquery.fullPage.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullpage/vendors/scrolloverflow.min.js') }}"></script>

            <script>
                $(document).ready(function() {
	                $('#fullpage').fullpage({
		                anchors:['page1', 'page2', 'page3'],
                        sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE',]
	                });
                });   
            </script>
        {% endblock %}
