{% extends 'layoutbase.html.twig' %}
{% block content %}

<div id="fullpage">
	<div class="section slide1 ">             
    <h1 class="title">MoveToRouen</h1>
    <div class="card-center text-center mw-80"> 
      <div class="card-body">
        <h2 class="card-title">Envie de prendre l'air ?</h2>
        <h3 class="card-text">Trouvez rapidement votre prochain lieu de détente avec MoveRouen </h3>
        <hr class="">
        <div class="">
          <button type="button" class="btn btn-primary btn-lg"><a href="{{ path('parc_homepage') }}" class=""><div><span style="color:white;">Parcs</span></div></a></button>
          <button type="button" class="btn btn-success btn-lg"><a href="{{ path('evenement_homepage') }}" class=""><div><span style="color:white;">Evènements</span></div></a></button>
          <button type="button" class="btn btn-info btn-lg"><a href="{{ path('monument_homepage') }}" class=""><div><span style="color:white;">Monuments</span></div></a></button>
          <button type="button" class="btn btn-danger btn-lg"><a href="{{ path('sport_homepage') }}" class=""><div><span style="color:white;">Sports</span></div></a></button>
        </div>
      </div>
    </div>
  </div> {# fin slide 1 #}
	<div class="section slide2 ">
    <div class="card-center text-center mw-80">
      <div class="card-body">
        <h2 class="card-title" >Pourquoi s'inscrire ?</h2>
        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <br>
        <a href="{{ path('fos_user_registration_register') }}" ><input type="button" value="Inscription" class="btn btn-success btn-lg"></a>
      </div>
    </div>
  </div> {# fin slide2  #}
	<div class="section slide3">
    <div class="card-center text-center mw-80">
      <div class="card-body">
        <h2 class="card-title" >Bouger à Rouen ? oui mais où?</h2>
        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <br>
        <a href="#" class="btn btn-primary btn-lg  ">Contact</a>           
      </div>
    </div>
  </div> {# fin slide 3 #}
</div>


{% endblock %}


  {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fullpage/js/jquery.fullPage.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullpage/vendors/scrolloverflow.min.js') }}"></script>

            <script>
                $(document).ready(function() {
	                $('#fullpage').fullpage({
		                anchors:['page1', 'page2', 'page3'],
                        sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE',]
	                });
                });   
            </script>
        {% endblock %}
