{% block stylesheets %}
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% extends 'base.html.twig' %}
{% block content %}
<div class="fullpage">
  <div id="" class="section">
    <div class="chevre">                     
          <p class="">Une ville unique à redécouvrir !</p>
          <h1 class="">Bouger à Rouen</h1>
    </div>
    <div id="" class="">
      <h2>Envie de prendre l'aire ?</h2>
      <h3>Trouvez rapidement votre prochain lieu de détente avec Bouger à Rouen </h3>
      <hr class="">
      <div class="">
        <a href="{{ path('parc_homepage') }}" class=""><div><span>Parcs</span></div></a>
        <a href="{{ path('restaurant_homepage') }}" class=""><div><span>Restaurants</span></div></a>
        <a href="{{ path('monument_homepage') }}" class=""><div><span>Monuments</span></div></a>
        <a href="{{ path('sport_homepage') }}" class=""><div><span>Sports</span></div></a>
      </div>
    </div>
    <div class="section">   
      <h2>Pourquoi s'inscrire ?</h2>
      <div class="">
        <p>Lorem ipson</p>
      </div>
      <div class="">
        <h3>Inscription/Connection</h3>
        <a href="{{ path('fos_user_security_login') }}" ><input type="button" value="Connexion" class="btn btn-outline-success"></a>
        <a href="{{ path('fos_user_registration_register') }}" ><input type="button" value="Inscription" class="btn btn-outline-success"></a>
      </div>
    </div> 
    <div class ="section">
      <h2>Bouger à Rouen ? oui mais où?</h2>
      <div class="">
        <p>c'est de la que tout est parti bla bla bli bla bla blou lorem ipson quoi</p>
      </div>
      <div class="">
        <h3>Lien vers le formulaire de contact</h3>
        <a href="" ><input type="button" value="Contact" class="btn btn-outline-success"></a>
        <a href=""><input type="button" value="" class=""></a>
      </div>
    </div> 
  </div>
</div>
{% endblock %}

{# Commentaire: visuellement les h3 seront sur la parti droite des h2. #}
{# 
       <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <!-- Example row of columns -->

          <div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Parcs</h1>
              <p class="lead my-3"> </p>
              <p class="lead mb-0"><a href="{{ path('parc_homepage') }}" class="text-white font-weight-bold">Voir plus</a></p>
            </div>
          </div>

          <div class="jumbotron p-3 p-md-5 text-white rounded bg-primary">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Restaurants</h1>
              <p class="lead my-3"> </p>
              <p class="lead mb-0"><a href="{{ path('restaurant_homepage') }}" class="text-white font-weight-bold">Voir plus</a></p>
            </div>
          </div>

          <div class="jumbotron p-3 p-md-5 text-white rounded bg-danger">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Monuments</h1>
              <p class="lead my-3"> </p>
              <p class="lead mb-0"><a href="{{ path('monument_homepage') }}" class="text-white font-weight-bold">Voir plus</a></p>
            </div>
          </div>

          <div class="jumbotron p-3 p-md-5 text-white rounded bg-info">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-italic">Sports</h1>
              <p class="lead my-3"> </p>
              <p class="lead mb-0"><a href="{{ path('sport_homepage') }}" class="text-white font-weight-bold">Voir plus</a></p>
            </div>
          </div>

      </div>

      </div> <!-- /container --> #}

 
