{% extends 'base.html.twig' %}
{% block content %}
    {# {{dump(category_id)}} #}
    <div class="container text-dark content ">
        <h1 class="text-light indextitle" >
            {# Boucle if permettant de sélectionner le titre en fonction de l'i de la catégorie récupérée#}
            {% if category_id == 1 %}
                Sport
            {% elseif category_id == 2 %}
                Evénement
            {% elseif category_id == 3 %}
                Parcs
            {% else %}
                Monuments
            {% endif %}
                <a href="{{ path('events_new') }}" class="eventbtn"><input type="button" value="Créer un événement" class="btn btn-success btn-rounded btn-sm bouton"></a>
        </h1>
        <div class="card text-light eventcard" >
            <div class="card-body " >
                <div class="row" >
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                {# <th>Id</th> #}
                                <th>Title</th>
                                {# <th>Description</th> #}
                                <th>Price</th>
                                <th>Startdate</th>
                                <th>Enddate</th>
                                <th>Place</th>
                                {% if is_granted('ROLE_ADMIN')%}
                                    <th>Actions</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                        {# Boucle d'affichage des éléments contenu en bdd #}
                            {% for event in events %}
                                <tr>
                                    <td>
                                        <a href="{{ path('events_show', { 'id': event.id }) }}">{{ event.title }}</a>
                                    </td>
                                    <td>{{ event.price }}</td>
                                    {% if category_id == 1 %} 
                                    {# Sport #}
                                        <td>
                                            {% if event.startDate %}{{ event.startDate|date('H:i:s') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if event.endDate %}{{ event.endDate|date('H:i:s') }}
                                            {% endif %}
                                        </td>
                                    {% elseif category_id == 2 %}
                                    {# Evénements #}
                                        <td>
                                            {% if event.startDate %}
                                            {{ event.startDate|date('H:i:s Y-m-d') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if event.endDate %}{{ event.endDate|date('H:i:s Y-m-d') }}
                                            {% endif %}
                                        </td>
                                    {% elseif category_id == 3 %}
                                        {# Parcs #}
                                         <td>
                                            {% if event.startDate == '00:00:00' %}
                                            <p> Accès libre </p>
                                            {% else %}
                                            {{ event.startDate|date('H:i:s') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if event.endDate %}{{ event.endDate|date('H:i:s') }}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                    {# Monument #}
                                         <td>
                                            {% if event.startDate %}{{ event.startDate|date('H:i:s') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if event.endDate %}{{ event.endDate|date('H:i:s') }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>{{ event.place }}</td>
                                    <td>
                                        {% if is_granted('ROLE_ADMIN')%}
                                            <ul>
                                                <li>
                                                    <a href="{{ path('events_show', { 'id': event.id }) }}">show</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('events_edit', { 'id': event.id }) }}">edit</a>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </td>
                                </tr>
                                <hr>    
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# Partie card image #}
        <h1 class="text-light lastaddtitle" >Derniers ajouts</h1>
        <div class="row text-center lastaddcontent">
            <div class="col-lg-4 col-md-6 text-light ">
                <div class="view overlay rounded z-depth-1 ">
                    <img src="{{ asset('info/img/hdvrouen.jpg') }}" class="img-fluid" alt="HDVrouen image" style="width:91%;">
                    <a>
                        <div class="mask rgba-white-slight "></div>
                    </a>
                </div>
                <div class="card-body pb-0" >
                    <h5 class="font-weight-bold my-3"><strong>Jardin de l’Hôtel-de-Ville</strong></h4>
                    <p class="grey-text">Lieu de détente, à mi-chemin entre le parc urbain et la prairie, ce jardin est également un passage piétonnier qui relie le centre-ville aux quartiers Saint-Nicaise et Saint-Vivien.</p>
                    <a href="{{ path('events_show', { 'id': 2 }) }}" class="btn btn-outline-danger btn-sm text-light">
                        <i class="fa fa-clone left"></i>
                        Voir</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-light">
                <div class="view overlay rounded z-depth-1">
                    <img src="{{ asset('info/img/prairiess.jpg') }}" class="img-fluid" alt="prairiess image">
                    <a>
                        <div class="mask rgba-white-slight "></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Prairie Saint Sever</h4>
                    <p class="grey-text">Une prairie en plein cœur de ville, une grande promenade fluviale sur plus de 3km entre allées de cheminement piéton en béton ou en pavés, espaces de jeux pour enfants.</p>
                    <a href="{{ path('events_show', { 'id': 3 }) }}" class="btn btn-outline-danger btn-sm text-light">
                        <i class="fa fa-clone left"></i>
                        Voir</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-light">
                <div class="view overlay rounded z-depth-1">
                    <img src="{{ asset('info/img/gramont.jpg') }}" class="img-fluid" alt="gramont image">
                    <a>
                        <div class="mask rgba-white-slight "></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Parc Grammont</h4>
                    <p class="grey-text">Le parc Grammont est un parc urbain situé à Rouen dans le quartier Grammont, sa création s'inscrit dans le cadre du grand projet de ville de Rouen.</p>
                    <a href="{{ path('events_show', { 'id': 4 }) }}" class="btn btn-outline-danger btn-sm text-light">
                        <i class="fa fa-clone left"></i>
                        Voir</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}