{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-light content2 ">
        <h1 class="showtitle">
            {{ event.title }}
        </h1>

        <div class="container" style="margin-top:3%;margin-bottom:5%;">
            <div class="row side2">
                <div class="col-lg-5 col-xl-7 mb-5 top">
                    <div class="view overlay z-depth-1-half honnorimg">
                        <img src="{{ asset('info/img/verdrel.jpg') }}" class="img-fluid rounded" alt="First sample image">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>
                {# Details d'un article #}
                <div class="col-lg-7 col-xl-4 ml-xl-4 mb-4 text-light text-center" style="margin-top:1%;">
                    
                    <p class="grey-text">
                        <h2 class="">{{ event.title }}</h2>
                    </p>
                   
                    <p class="grey-text">
                        {{ event.description }}
                    </p>
                    <p class="grey-text">Entrée:
                        {{ event.price }}
                    </p>
                    <p class="grey-text">Adresse: 
                        {{ event.place }}
                    </p>
                    {% if is_granted('ROLE_ADMIN')%}
                        <div class="list-group-item  edit">

                            <a href="{{ path('events_edit', { 'id': event.id }) }}"><input type="button" value="Editer l'événement" class=" btn btn-success btn-rounded btn-sm bouton"></a>

                            {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer l'événement" class=" btn btn-danger btn-rounded btn-sm bouton">
                            {{ form_end(delete_form) }}

                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- <div class="container"> <div class="row"> <div class="col-lg-5 col-xl-7 mb-5"> <div class="view overlay z-depth-1-half honnorimg"> <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid rounded" alt="First sample image"> <a> <div class="mask waves-effect waves-light"></div> </a> </div> <table class="col-lg-7 col-xl-4 ml-xl-4 mb-4 text-light"> <tbody> <div class=""> <tr> <th>Id</th> <td>{{ event.id }}</td> </tr> <tr> <th>Title</th> <td>{{ event.title }}</td> </tr> <tr> <th>Description</th> <td>{{ event.description }}</td> </tr> <tr> <th>Price</th> <td>{{ event.price }}</td> </tr> <tr> <th>Startdate</th> <td> {% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }} {% endif %} </td> </tr> <tr> <th>Enddate</th> <td> {% if event.endDate %}{{ event.endDate|date('Y-m-d H:i:s') }} {% endif %} </td> </tr> <tr> <th>Place</th> <td>{{ event.place }}</td> </tr> </div> </tbody> </table> </div> </div> -->

        </div>
    </div>
    {# Partie card image #}
    <div class="container">
        <h1 class="text-light lasteventtitle">Derniers ajouts</h1>
        <div class="row text-center lasteventcontent">
            <div class="col-lg-4 col-md-12 mb-lg-1 mb-4 text-light ">
                <div class="view overlay rounded z-depth-1 ">
                    <img src="{{ asset('info/img/hdvrouen.jpg') }}" class="img-fluid" alt="hdvrouen image">
                    <a>
                        <div class="mask rgba-white-slight text-light"></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Jardin de l’Hôtel-de-Ville</h4>
                    <p class="grey-text">Lieu de détente, à mi-chemin entre le parc urbain et la prairie, ce jardin est également un passage piétonnier qui relie le centre-ville aux quartiers Saint-Nicaise et Saint-Vivien.</p>
                    <a href="{{ path('events_show', { 'id': 2 }) }}" class="btn btn-outline-danger btn-sm text-light">
                        <i class="fa fa-clone left"></i>
                        Voir le lieu</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 text-light">
                <div class="view overlay rounded z-depth-1">
                    <img src="{{ asset('info/img/prairiess.jpg') }}" class="img-fluid" alt="prairiess image">
                    <a>
                        <div class="mask rgba-white-slight text-light"></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Prairie Saint Sever</h4>
                    <p class="grey-text">Une prairie en plein cœur de ville, une grande promenade fluviale sur plus de 3km entre allées de cheminement piéton en béton ou en pavés, espaces de jeux pour enfants.</p>
                    <a href="{{ path('events_show', { 'id': 3 }) }}" class="btn btn-outline-danger btn-sm text-light">
                        <i class="fa fa-clone left"></i>
                        Voir le lieu</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-light" >
                <div class="view overlay rounded z-depth-1" style="margin-top:-1%;">
                    <img src="{{ asset('info/img/gramont.jpg') }}" class="img-fluid" alt="gramont image">
                    <a>
                        <div class="mask rgba-white-slight text-light"></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3">Parc Grammont</h4>
                    <p class="grey-text">Le parc Grammont est un parc urbain situé à Rouen dans le quartier Grammont, sur l'emplacement des anciens abattoirs de la ville, sa création s'inscrit dans le cadre du grand projet de ville de Rouen. </p>
                    <a href="{{ path('events_show', { 'id': 4 }) }}" class="btn btn-outline-danger btn-sm text-light">
                        <i class="fa fa-clone left"></i>
                        Voir le lieu</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}